.rentBtn {
  width: 120px;
  height: 44px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  position: initial;
  z-index: 1;
  top: 205px;
}

.blue {
  background-color: #3563E9;
}
.ice {
  background-color: #54A6FF;
}